.hero {
  background: url("http://placehold.it/1900x450") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden;
  z-index: 100;}
  .hero h1 {
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.row {
  max-width: 100%;
}

.columns {
  padding: 0px;
  margin: 0px;
}

.menu {
  z-index: 200;
  position: fixed;
}
