.hero {
  background: url("../img/image-2.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
}
.row {
  max-width: 100%;
}
.full {
  margin: 0px;
  max-width: 100%;
}
.columns {
  padding: 0px;
  margin: 0px;
}
.columns-content {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  float: left;
}
.menu {
  z-index: 200;
  position: fixed;
  margin: 0;
}
.logo {
  width: 130px;
  margin-left: 5px;
  padding: 5px;
}
nav.top-bar.expanded {
  height: 250px;
}
nav.top-bar {
  transition: height .3s ease-in-out;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  overflow: hidden;
}
.overlay h1 {
  color: #fff;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-300%);
  -ms-transform: translateY(-300%);
  transform: translateY(-300%);
}
.overlay .text {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 60%;
  top: 20%;
}
.arrow-down {
  background: url("../img/arrow_down.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  margin: 0 auto;
  top: 25%;
}
.service-box {}
.card {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  color: #272727;
  border-radius: 2px;
  margin: 0 1rem;
}
.card .title {
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
}
.card .content {
  padding: 1.3rem;
  font-weight: 300;
  border-radius: 0 0 2px 2px;
}
.card p {
  margin: 0;
}
.card .action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 1.3rem;
}
.card a {
  color: #ffab40;
  margin-right: 1.3rem;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-decoration: none;
}
.card .image {
  position: relative;
}
.card .image .title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.3rem;
  color: #fff;
}
.card .image img {
  border-radius: 2px 2px 0 0;
}
.footer {
  background-color: #03212e;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  margin-top: 5rem;
}
.footer .inline-list a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin: 0 3px 0 0;
}
.footer .contact {
  list-style-type: none;
  margin: 0;
  text-align: left;
  color: #fff;
}
.footer .contact li {
  margin-bottom: 2rem;
}
.footer .contact li p {
  padding-left: 5rem;
}
.footer .contact i {
  position: absolute;
  background-color: #33383b;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1;
  margin: 0 0 0 -4rem;
  vertical-align: middle;
  padding: .25em .45em;
}
.footer .copyright {
  color: #8f9296;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
}
.footer .about {
  color: #92999f;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
}
.footer .footer-links a {
  list-style: none;
  font-weight: normal;
  color: #fff;
  padding: 3rem 0 2rem;
  margin: 0;
  font-size: 0.875rem;
}
.footer .footer-links a::after {
  content: "•";
  padding: 0 0.2rem 0 0.4rem;
}
.footer .footer-links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem;
}
.footer-logo {
  color: #fff;
  font-size: 1.5rem;
}
.footer-logo i {
  margin-right: 0.5rem;
}
.column-wrapper {
  margin-left: 4%;
}
.space {
  padding: 0 3rem;
}

<<<<<<< HEAD
<<<<<<< HEAD
/* Services */

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  margin-top: 60px;
}
.box-icon {
  background-color: #569;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
  font-size: 3rem;
}
.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.info h4 {
  font-size: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.info p {
  color: #717171;
  font-size: 16px;
  padding-top: 10px;
}
.info a {
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s;
}
.info a:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.5s ease 0s;
}
.features {
  text-align: center;
}
.features hr {
  width: 25%;
  margin: 1rem auto;
}
.features .round-icon {
  background-color: #E87E04;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 1px auto 1rem;
  width: 100px;
  font-size: 3rem;
}
.features .round-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.large-2 h3 {
  text-align: center;
}

=======
>>>>>>> Add hover icon to hero image.
/* Hang */

@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

=======
>>>>>>> Icons
/* Icon Push */

@-webkit-keyframes hvr-icon-push-home {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push-home {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.hvr-icon-push-home {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-push-home:before {
  content: "\f015";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-push-home:hover:before, .hvr-icon-push-home:focus:before, .hvr-icon-push-home:active:before {
  -webkit-animation-name: hvr-icon-push-home;
  animation-name: hvr-icon-push-home;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Push */
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> origin/master
@-webkit-keyframes hvr-icon-push-about {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push-about {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.hvr-icon-push-about {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-push-about:before {
  content: "\f129";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-push-about:hover:before, .hvr-icon-push-about:focus:before, .hvr-icon-push-about:active:before {
  -webkit-animation-name: hvr-icon-push-about;
  animation-name: hvr-icon-push-about;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Push */
<<<<<<< HEAD

=======
=======
>>>>>>> Icons
>>>>>>> origin/master
@-webkit-keyframes hvr-icon-push-service {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push-service {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.hvr-icon-push-service {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-push-service:before {
  content: "\f0f7";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-push-service:hover:before, .hvr-icon-push-service:focus:before, .hvr-icon-push-service:active:before {
  -webkit-animation-name: hvr-icon-push-service;
  animation-name: hvr-icon-push-service;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Push */

@-webkit-keyframes hvr-icon-push-contact {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes hvr-icon-push-contact {
  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.hvr-icon-push-contact {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-push-contact:before {
  content: "\f095";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-push-contact:hover:before, .hvr-icon-push-contact:focus:before, .hvr-icon-push-contact:active:before {
  -webkit-animation-name: hvr-icon-push-contact;
  animation-name: hvr-icon-push-contact;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.accordion-navigation > a:after {
  content: "↡";
  padding-left: 5px;
  float: right;
  font-size: 20px;
}
.accordion-navigation.active > a:after {
  content: "↟";
}

/** Media Queries **/

@media only screen and (max-width: 40em) {
  .features .columns {
    margin-bottom: 5rem;
  }
}
@media only screen and (min-width: 40.063em) {
  .footer p {
    text-align: left;
  }
  .footer .social {
    text-align: left;
    margin: 0;
  }
  .footer .contact {
    text-align: left;
  }
  .footer .contact > i {
    margin-right: 1rem;
  }
}
@media only screen and (min-width: 40.063em) {
  .top-bar {
    height: 6rem;
    padding-top: 3rem;
    position: relative;
  }
  .social-icons {
    position: absolute;
    right: 0;
    top: -45px;
  }
  .logo {
    width: 250px;
    margin-top: -2.3rem;
  }
}
@media only screen and (min-width: 40.063em) {
  .social-icons {
    top: -35px;
  }
}

/** Menu Font Media Query**/

@media only screen and (max-width: 1025px) {
  .top-bar-section ul li > a {
    font-size: 1rem;
  }
  .top-bar {
    height: 4rem;
    padding-top: 1rem;
  }
  .logo {
    width: 150px;
    margin-top: -0.5rem;
  }
}
@media only screen and (max-width: 890px) {
  .top-bar-section ul li > a {
    font-size: .8rem;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    padding: 0 0.3rem;
  }
}
@media only screen and (max-width: 658px) {
  .logo {
    width: 130px;
  }
  .top-bar-section ul li > a {
    font-size: .7rem;
  }
}
@media only screen and (max-width: 640px) {
  .top-bar {
    height: 6rem;
    padding-top: 3rem;
    position: relative;
  }
  .social-icons {
    position: absolute;
    right: 0;
    top: -45px;
  }
  .logo {
    width: 270px;
    margin-top: -2.6rem;
  }
  S .top-bar-section ul li > a {
    font-size: 2rem;
  }
  .overlay p {
    top: 35%;
  }
  .overlay .text {
    top: 35%;
  }
  .arrow-down {
    top: 35%;
  }
  .top-bar-section ul li > a {
    font-size: 1.5rem;
  }
}
